html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  body{
    background-color: #d6d5cf;
  }
  hr {
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #000000;
  }
  header {
    background-color: rgb(93, 129, 207);
    display: grid;
    align-items: flex-start;
  }
  .profile-pic{
    width: max-content;
    height: max-content;
    max-block-size: 150px;
  }
  h1 {
    margin-top: 50px;
    margin-left: 50px;
    color: white;
}
  h2 {
    margin-left: 50px;
    margin-right: 50px;
  }
  li {
    display: list-item;
    text-align: webkit-match-parent;
    margin-left: 50px;
  }
  ul {
    list-style-type: square;
  }
  footer {
    text-align: center;
    background-color: rgb(93, 129, 207);
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
  }
  .footer {
    margin: 2px 100px 2px 100px;
  }
  div {
    box-shadow: none;
    display: inline-flex;
    padding: 5px;
  }
  .date {
    font-style: normal;
    color: yellow;
  }
  #date {
    color: yellow;
  }